<div fxLayout="row" fxFlexFill>
    <div id="tokens" fxLayout="column">
        <h5 style="padding-left: 8px; margin: 6px 0px 12px 0px" fxLayout="row" fxLayoutAlign="start center">
            <div fxFlex>Tokens</div>
            <button mat-icon-button (click)="null">
                <mat-icon style="font-size: 16px;">add</mat-icon>
            </button>
        </h5>
        <div class="scrollable" fxFlex>
            <small *ngFor="let token of tokens" 
                class="token-button cursor" 
                fxLayout="row" 
                fxLayoutAlign="start center"
                routerLink="{{tokenData[token].address}}" 
                routerLinkActive="active-token">
                {{tokenData[token].name}}
                <span fxFlex></span>
                {{tokenData[token].balance}}
            </small>
        </div>
    </div>
    <div fxFlex>
        <router-outlet></router-outlet>
    </div>
</div>