<div fxLayout="column" fxFlex="60">
    <div class="scrollable" style="padding: 0px 16px;" fxFlex>	
		<div style="position: relative;">
			<div style="position: absolute; top: 8px; right: 14px;">
				<button mat-icon-button (click)="showAddDelegatePanel = !showAddDelegatePanel">
					<mat-icon *ngIf="!showAddDelegatePanel">add</mat-icon>
					<mat-icon *ngIf="showAddDelegatePanel">close</mat-icon>
				</button>
			</div>
		</div>

		<h4 style="padding: 0px 8px;">Wallet Delegates</h4>
		
		<div *ngIf="showAddDelegatePanel" fxLayout="column">
			<mat-form-field [floatLabel]="'always'" appearance="outline">
			    <mat-label>New Delegate Name</mat-label>
			    <input matInput type="text" 
			    	[(ngModel)]="newDelegateName" 
			    	name="newDelegateName" 
			    	placeholder="Delegate Name">
			</mat-form-field>

			<mat-form-field [floatLabel]="'always'" appearance="outline">
			    <mat-label>New Delegate Address</mat-label>
			    <input matInput type="text" 
			    	[(ngModel)]="newDelegateAddress" 
			    	name="newDelegateAddress" 
			    	placeholder="Enter a smart contract address">
			    <mat-icon matSuffix 
				    class="cursor" 
				    style="margin-right: 6px;" 
				    (click)="addDelegate(newDelegateAddress, newDelegateName)">
					add
				</mat-icon>
			    <mat-hint style="color: red;">
			    	Warning! Delegates can transfer funds at any time. Make sure it is a vetted smart contract!
			    </mat-hint>
			</mat-form-field>
		</div>

		<div *ngFor="let delegate of Wallets.wallets[currentWallet].delegates; let i = index" [attr.data-index]="i">
		    <div class="border-container" fxLayout="row">
		        <div class="border-inner-container" fxLayout="row" fxFlex>
		            <div fxLayout="column">
		                <b style="margin-bottom: 4px;">#{{i+1}} {{getName(delegate)}}</b>
		                <small style="color: gray">{{delegate}}</small>
		            </div>
		            <span fxFlex></span>
		            <button mat-icon-button (click)="removeDelegate(delegate)">
		                <mat-icon matSuffix>remove</mat-icon>
		            </button>
		        </div>
		    </div>
		</div>
	</div>
</div>
<div class="border-left" fxLayout="column" fxFlex="40">
    <div class="scrollable" style="padding: 0px 16px;" fxFlex>
		<h4 style="padding: 0px 8px;">Everchain Delegates</h4>
	    <div class="border-container" *ngFor="let delegate of Wallets.vettedDelegates;">
	        <div class="border-inner-container" fxLayout="row" fxFlex>
	            <div fxLayout="column">
	                <b style="margin-bottom: 4px;">{{getName(delegate)}}</b>
	                <small style="color: gray">{{delegate}}</small>
	            </div>
	            <span fxFlex></span>
	            <div>
			    	<button mat-icon-button (click)="toggleDelegate(delegate)">
			    		<mat-icon *ngIf="Wallets.wallets[currentWallet].delegates.includes(delegate)">check</mat-icon>
			    		<mat-icon *ngIf="!Wallets.wallets[currentWallet].delegates.includes(delegate)">add</mat-icon>
			    	</button>
			    </div>
	        </div>
	    </div>
    </div>
</div>