/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.scrollable {
    overflow: auto;
}

.cursor {
    cursor: hand;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.white-text {
    color: rgba(255,255,255,0.87);
}

.padding {
    padding: 16px;
}

.paddingH {
    padding: 0px 16px;
}

.paddingV {
    padding: 16px 0px;
}

.margin {
    margin: 16px;
}

.marginH {
    margin: 0px 16px;
}

.marginV {
    margin: 16px 0px;
}

.no-margin {
    margin: 0px;
}

.full-width {
    width: 100%;
}

.centered {
    text-align: center !important;
}

.bordered {
    border: 1px solid rgba(33,33,33,0.33);
}

.border-left {
    border-left: 1px solid rgba(33,33,33,0.33);
}
.border-right {
    border-right: 1px solid rgba(33,33,33,0.33);
}

.border-top {
    border-top: 1px solid rgba(33,33,33,0.33);
}

.border-bottom {
    border-bottom: 1px solid rgba(33,33,33,0.33);
}

.outer-border-container {
    border: 1px solid rgba(33,33,33,0.33);
    border-radius: 4px;
    margin-top: 16px;
}

.outer-border-container:hover {
    border: 1px solid rgba(33,33,33,0.93);
}

.inner-border-container {
    border: 1px solid rgba(33,33,33,0.0);
    border-radius: 3px;
}

.inner-border-container:hover {
    border: 1px solid rgba(33,33,33,0.93);
}

.wc-date-container {
    border: 0px solid cyan !important;
    border-bottom: 1px solid rgba(33,33,33,0.5) !important;
    padding: 0px 0px 5px 0px !important;
    height: auto !important;
    margin: 0px 0px 1px 0px !important;
    background-color: transparent !important;
}

.wc-date-container * {
    color: rgba(0,0,0,0.87) !important;
}

.mat-select-arrow-wrapper {
    padding-left: 4px !important;
}

.cdk-overlay-pane {
    max-width: none !important;
    width: 90vw;
}