<div fxLayout="column" fxFlex="60">
    <div class="scrollable" style="padding: 0px 16px;" fxFlex>
        <h4>Transfer</h4>
        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-form-field [floatLabel]="'always'" appearance="outline" fxFlex>
                <mat-label>To</mat-label>
                <input matInput type="text" 
                    [(ngModel)]="toAddress" 
                    name="toAddress" 
                    placeholder="Enter an ethereum address">
            </mat-form-field>
            <span fxFlex="16px"></span>
            <mat-form-field [floatLabel]="'always'" appearance="outline">
                <mat-label>Ether Amount</mat-label>
                <input matInput type="number" 
                    [(ngModel)]="transferAmount" 
                    name="transferAmount" 
                    placeholder="Enter an ether amount">
            </mat-form-field>
            <div style="padding-bottom: 16px; padding-left: 8px;">
                <button mat-button (click)="max()">max</button>
            </div>
        </div>
        <div style="min-height: 40px;" fxLayout="row">
            <button mat-raised-button 
                color="primary" 
                [disabled]="!valid()" 
                (click)="transfer()" 
                fxFlex>
                transfer
            </button>
        </div>
    </div>
</div>
<div class="border-left" fxLayout="column" fxFlex="40">
    <div class="scrollable" style="padding: 0px 16px;" fxFlex>
        <div style="position: relative;">
            <button mat-icon-button 
                style="position: absolute; top: 8px; right: 13px;" 
                (click)="addNewContact = !addNewContact;">
                <mat-icon *ngIf="!addNewContact">person_add</mat-icon>
                <mat-icon *ngIf="addNewContact">close</mat-icon>
            </button>
        </div>
        <h4 style="padding: 0px 16px;">Address Book</h4>
        <div *ngIf="addNewContact" fxLayout="column">
            <mat-form-field [floatLabel]="'always'" appearance="outline">
                <mat-label>Address</mat-label>
                <input matInput 
                    type="text" 
                    [(ngModel)]="newContactAddress" 
                    name="newContactAddress" 
                    placeholder="Enter an ethereum address">
            </mat-form-field>
            <mat-form-field [floatLabel]="'always'" appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput 
                    type="text" 
                    [(ngModel)]="newContactName" 
                    name="newContactName" 
                    placeholder="Enter a description">
            </mat-form-field>
            <div fxLayout="row" style="min-height: 40px">
                <button mat-raised-button  
                    color="primary" 
                    [disabled]="!validContact()" 
                    (click)="Contacts.add(newContactAddress,newContactName)" 
                    fxFlex>
                    add contact
                </button>
            </div>
        </div>
        
        <div *ngIf="addNewContact" style="height: 16px"></div>

        <div class="cursor border-container contact">
            <div class="border-inner-container" 
                [ngClass]="{'selected': toAddress == Web3.account.address}"  
                fxLayout="row" 
                fxLayoutAlign="start center">
                <div (click)="toAddress = Web3.account.address" style="padding: 0px 12px; height: 100%;" 
                    fxLayout="column" 
                    fxLayoutAlign="center start" 
                    fxFlex>
                    <b>You</b>
                    <small>{{Web3.account.address}}</small>
                </div>
            </div>
        </div>

        <div *ngIf="Contacts.list.length > 0">
            <div class="cursor border-container contact" *ngFor="let address of Contacts.list">
                <div class="border-inner-container" 
                    [ngClass]="{'selected': toAddress == address}" 
                    fxLayout="row" 
                    fxLayoutAlign="start center">
                    <div (click)="toAddress = address" style="padding: 0px 12px; height: 100%;" 
                        fxLayout="column" 
                        fxLayoutAlign="center start" 
                        fxFlex>
                        <b>{{Contacts.getName(address)}}</b>
                        <small>{{address}}</small>
                    </div>
                    <div>
                        <button mat-icon-button (click)="Contacts.remove(address)">
                            <mat-icon>remove</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="cursor border-container contact" *ngFor="let address of Wallets.list">
            <div class="border-inner-container" 
                [ngClass]="{'selected': toAddress == address}" 
                fxLayout="row" 
                fxLayoutAlign="start center">
                <div (click)="toAddress = address" style="padding: 0px 12px; height: 100%;" 
                    fxLayout="column" 
                    fxLayoutAlign="center start" 
                    fxFlex>
                    <b>{{Wallets.wallets[address].name}}</b>
                    <small>{{Wallets.wallets[address].address}}</small>
                </div>
            </div>
        </div>

        &nbsp;
    </div>
</div>