<div *ngIf="view == 'building'" fxLayout="column" fxFlexFill>
    <div style="margin-bottom: 8px;" fxLayout="row">
        <h2 style="margin: 4px 0px;" fxFlex="256px">Alarm Clock Options</h2>
        <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex>
            <button mat-button color="warn" (click)="fillExampleTask()">
                fill in demo alarm clock
            </button>
            <button mat-icon-button (click)="close()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>

    <div fxLayout="column" fxFlex>
        <div class="scrollable" style="padding-right: 8px;" fxFlex>
            <div fxLayout="column">
                <mat-form-field [floatLabel]="'always'" appearance="outline">
                    <mat-label>Label</mat-label>
                    <input matInput [(ngModel)]="newAlarm.label" placeholder="Enter a descriptive label" name="newAlarmLabel">
                </mat-form-field>
            </div>

            <div fxLayout="column" fxLayout.gt-sm="row">
                <div class="border-outer-container" fxFlex.gt-sm="256px">
                    <div class="border-inner-container" style="position: relative; padding: 18px 8px 0px 8px;" fxLayout="column">
                        <small style="color: gray; padding-bottom: 6px; position: absolute; top: -8px; background-color: white">
                            &nbsp;Starting on&nbsp;
                        </small>
                        <angular2-date-picker [(ngModel)]="newAlarm.startDate" [settings]="settings" name="startDate" fxFlex></angular2-date-picker>
                    </div>
                </div>

                &nbsp;

                <div class="border-outer-container" fxFlex.gt-sm="216px">
                    <div class="border-inner-container" style="position: relative;" fxLayout="column">
                        <small style="color: gray; padding-bottom: 6px; position: absolute; top: -8px; background-color: white">
                            &nbsp;Execute every&nbsp;
                        </small>
                        <div fxLayout="row">
                            <mat-form-field fxFlex="96px">
                                <input style="text-align: right" type="number" matInput [(ngModel)]="newAlarm.interval.value" name="intervalValue" min="1" step="1">
                            </mat-form-field>

                            &nbsp;

                            <mat-form-field fxFlex.gt-sm="96px">
                                <mat-select class="centered" [(ngModel)]="newAlarm.interval.unit" name="intervalUnit">
                                    <mat-option [value]="0">second<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                                    <mat-option [value]="1">minute<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                                    <mat-option [value]="2">hour<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                                    <mat-option [value]="3">day<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                                    <mat-option [value]="4">month<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                                    <mat-option [value]="5">year<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                &nbsp;

                <div class="border-outer-container" fxFlex.gt-sm="128px">
                    <div class="border-inner-container" style="position: relative;" fxLayout="column">
                        <small style="color: gray; padding-bottom: 6px; position: absolute; top: -8px; background-color: white">
                            &nbsp;repeat&nbsp;
                        </small>
                        <mat-form-field style="text-align: center; margin-left: 4px;" fxFlex>
                            <mat-select [(ngModel)]="newAlarm.interval.type" name="intervalType" (ngModelChange)="triggerIntervalChange()">
                                <mat-option value="forever">forever</mat-option>
                                <mat-option value="custom">custom</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                &nbsp;

                <mat-form-field [floatLabel]="'always'" appearance="outline" fxFlex>
                    <mat-label>Max Intervals (0 = forever)</mat-label>
                    <input matInput type="number" [(ngModel)]="newAlarm.interval.max" name="alarmIntervals" placeholder="2" min="0" [disabled]="newAlarm.interval.type != 'custom'">
                </mat-form-field>

                <div *ngIf="false" class="border-outer-container" fxLayout="column" fxLayout.gt-xs="row" fxFlex="70">
                    <div class="border-inner-container" fxLayout="row" fxLayoutAlign="start center" fxFlex.gt-xs>
                        <div style="padding-bottom: 8px; min-width: 98px;">Execute every</div>

                        <mat-form-field style="max-width: 64px; margin: 0px 4px;">
                            <input class="centered" type="number" matInput [(ngModel)]="newAlarm.interval.value" name="intervalValue" min="1" step="1">
                        </mat-form-field>
                        <mat-form-field style="max-width: 96px; text-align: center; margin-right: 4px">
                            <mat-select [(ngModel)]="newAlarm.interval.unit" name="intervalUnit">
                                <mat-option [value]="0">second<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                                <mat-option [value]="1">minute<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                                <mat-option [value]="2">hour<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                                <mat-option [value]="3">day<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                                <mat-option [value]="4">month<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                                <mat-option [value]="5">year<span *ngIf="newAlarm.interval.value > 1">s</span></mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div style="padding-bottom: 8px;">&nbsp;Repeat</div>
                        <mat-form-field style="text-align: center; margin-left: 4px;" fxFlex>
                            <mat-select [(ngModel)]="newAlarm.interval.type" name="intervalType">
                                <mat-option value="forever">forever</mat-option>
                                <mat-option value="custom">custom</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div style="height: 0px;"></div>

            <div fxLayout="column" fxLayout.gt-sm="row">
                <div fxLayout="column" fxFlex="50">
                    <mat-form-field [floatLabel]="'always'" appearance="outline">
                        <mat-label>Task Contract Address</mat-label>
                        <input matInput [(ngModel)]="newAlarm.call.address" placeholder="{{taskPlaceholder}}">
                        <mat-hint>Must be a valid contract address deployed on the Ethereum Blockchain</mat-hint>
                    </mat-form-field>

                    <span fxFlex="19px"></span>

                    <div fxLayout="row" fxLayout.xs="column">
                        <mat-form-field [floatLabel]="'always'" appearance="outline" fxFlex="50">
                            <mat-label>Call Gas</mat-label>
                            <input type="number" matInput [(ngModel)]="newAlarm.call.gas" name="extraGas" placeholder="1000000" min="0">
                            <mat-hint>The amount of gas needed to execute the task</mat-hint>
                        </mat-form-field>

                        &nbsp;

                        <mat-form-field [floatLabel]="'always'" appearance="outline" fxFlex="50">
                            <mat-label>Call Value</mat-label>
                            <input type="number" matInput [(ngModel)]="newAlarm.call.value" name="call value" placeholder="0" min="0">
                            <mat-hint>The value in wei to send when executing the task</mat-hint>
                        </mat-form-field>
                    </div>
                </div>

                <span fxFlex.gt-sm="4px"></span>

                <div fxLayout="column" fxFlex="50">
                    <mat-form-field [floatLabel]="'always'" appearance="outline" fxFlex>
                        <mat-label>Call Data</mat-label>
                        <textarea matInput [(ngModel)]="newAlarm.call.data" placeholder="{{dataPlaceholder}}" rows="7"></textarea>
                        <mat-hint>
                            <a href="https://abi.hashex.org/#" target="_blank" fxFlex="160px">How do I calculate this?</a>
                            demo function = exampleWithValue(string)
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>    
        </div>
    </div>
    
    <div style="height: 16px;"></div>

    <div fxLayout="row" fxFlex="40px">
        <button mat-button (click)="close()">cancel</button>
        &nbsp;
        <button mat-raised-button color="primary" [disabled]="!valid()" (click)="continue()" fxFlex>
            continue &nbsp;
            <mat-icon *ngIf="valid()">alarm_on</mat-icon>
            <mat-icon *ngIf="!valid()">alarm_off</mat-icon>
        </button>
    </div>
</div>  
<div *ngIf="view == 'finalizing'" fxLayout="column" fxFlexFill>
    <div style="margin-bottom: 8px;" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 style="margin: 4px 0px;" fxFlex="300px">Alarm Cost Overview</h2>
        <button mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div fxLayout="column" fxFlex>
        <div class="scrollable" style="padding-right: 8px;" fxFlex>

            <div fxLayout="column" fxLayout.gt-sm="row">
                <div fxLayout="column">
                    <div style="padding: 8px 0px;">
                        <div fxFlex="200px">First Alarm Date:</div>
                        {{newAlarm.startDate | date: 'MMM dd, yyyy @ hh:mm a'}}
                    </div>
                    <div style="padding: 8px 0px;">
                        <div fxFlex="200px">First Alarm Cost:</div>
                        {{calculateFirstAlarmCost() | number: '1.5-5'}} eth 
                        (${{calculateFirstAlarmCost() * this.PaymentDelegate.ethPriceInUsd | number: '1.2-2'}})
                    </div>
                    <div style="padding: 8px 0px;">
                        <div fxFlex="200px">Transaction Cost:</div>
                        {{calculateTxCost() | number: '1.5-5'}} eth 
                        (${{calculateTxCost() * this.PaymentDelegate.ethPriceInUsd | number: '1.2-2'}})
                    </div>
                    <b style="padding: 8px 0px;">
                        <div fxFlex="200px">Total Upfront Cost:</div>
                        {{calculateFirstAlarmCost() + calculateTxCost() | number: '1.5-5'}} eth 
                        (${{(calculateFirstAlarmCost() + calculateTxCost()) * this.PaymentDelegate.ethPriceInUsd | number: '1.2-2'}})
                    </b>
                </div>

                <span fxFlex="32px" fxFlex.gt-sm></span>

                <div *ngIf="newAlarm.interval.max > 1" fxLayout="column">
                    <div style="padding: 8px 0px;">
                        <div fxFlex="200px">Last Alarm Date:</div>
                        {{newAlarm.endDate  | date: 'MMM dd, yyyy @ hh:mm a'}}
                    </div>
                    <div style="padding: 8px 0px;">
                        <div fxFlex="200px">Recurring Alarm Cost:</div>
                        {{newAlarm.interval.max-1}} x 
                        {{calculateAlarmCost() | number: '1.5-5'}} eth 
                        (${{calculateAlarmCost() * this.PaymentDelegate.ethPriceInUsd | number: '1.2-2'}})
                    </div>
                    <div style="padding: 8px 0px;">
                        <div fxFlex="200px">Total Recurring Cost:</div>
                        {{(calculateAlarmCost() * (newAlarm.interval.max-1)) | number: '1.5-5'}} eth 
                        (${{calculateAlarmCost() * (newAlarm.interval.max-1) * this.PaymentDelegate.ethPriceInUsd | number: '1.2-2'}})
                    </div>
                    <b style="padding: 8px 0px;">
                        <div fxFlex="200px">Total Approximate Cost:</div>
                        {{calculateFirstAlarmCost() + calculateTxCost() + (calculateAlarmCost() * (newAlarm.interval.max-1)) | number: '1.5-5'}} eth 
                        (${{(calculateFirstAlarmCost() + calculateTxCost() + (calculateAlarmCost() * (newAlarm.interval.max-1))) * this.PaymentDelegate.ethPriceInUsd | number: '1.2-2'}})
                    </b>
                </div>
            </div>
        </div>
    </div>

    <mat-accordion>     
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Advanced Options
                </mat-panel-title>
                <mat-panel-description fxHide.xs>
                    Only change these options if you know what you are doing...
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout.xs="column" fxLayout="row">
                <mat-form-field [floatLabel]="'always'" appearance="outline" fxFlex="50">
                    <mat-label>Transaction Gas</mat-label>
                    <input type="number" matInput [(ngModel)]="newAlarm.tx.gas" placeholder="Call Gas"  min="0" name="txCallGas">
                </mat-form-field>
                <span fxHide.xs>&nbsp;</span>
                <mat-form-field [floatLabel]="'always'" appearance="outline" fxFlex="50">
                    <mat-label>Gas Price (in wei)</mat-label>
                    <input type="number" matInput [(ngModel)]="newAlarm.tx.gasPrice" step="1" min="0" name="txGasPrice" placeholder="Gwei">
                </mat-form-field>
            </div>
        </mat-expansion-panel>
    </mat-accordion>

    <div style="height: 16px;"></div>

    <div fxLayout="row" fxFlex="40px">
        <button mat-button (click)="view = 'building'">back</button>
        &nbsp;
        <button mat-raised-button color="primary" (click)="createAndStartAlarmClock()" fxFlex>
            create alarm clock
        </button>
    </div>
</div>