<div class="scrollable" style="border-top: 2px solid rgba(126, 121, 121, 0.33)" fxFlex>
    <small style="padding: 8px 8px 0px 8px;" fxLayout="row" fxLayoutAlign="start center">
        <div style="padding: 12px;" fxLayout="row" fxFlexFill fxFlex>
            <div fxLayout="row" fxFlex>
                <b style="width: 60px; text-align: center">ID</b>
                <b style="width: 120px; text-align: center">Amount</b>
                <b style="width: 30px; text-align: center"><-></b>
                <b style="text-align: center" fxFlex>Address/Service</b>
                <b style="width: 60px; text-align: center">Status</b>
                <b style="width: 80px; text-align: center">Period</b>
                <b style="width: 120px; text-align: center">Execution</b>
            </div>
        </div>
    </small>
    <small *ngFor="let payment of payments" class="payment-row" fxLayout="row" fxLayoutAlign="start center">
        <div class="cursor" style="padding: 12px;" fxLayout="row" fxFlexFill fxFlex (click)="openDialogFor(payment)">
            <div style="width: 60px; text-align: center">{{payment.address.slice(2,6)}}</div>
            <div style="width: 120px; text-align: center">{{web3.utils.fromWei(payment.amount, 'ether') | number:'1.3-6'}} ether</div>
            <div *ngIf="payment.wallet == wallet.address" fxLayout="row" fxFlex>
                <div style="width: 30px; text-align: center">to</div>
                <div style="text-align: center;" fxFlex>
                    <div style="overflow: hidden; text-overflow: ellipsis">{{NameService.getName(payment.recipient)}}</div>
                </div>
            </div>
            <div *ngIf="payment.wallet != wallet.address" fxLayout="row" fxFlex>
                <div style="width: 30px; text-align: center">from</div>
                <div style="text-align: center;" fxFlex>
                    <div style="overflow: hidden; text-overflow: ellipsis">{{NameService.getName(payment.wallet)}}</div>
                </div>
            </div>
            <div style="width: 60px; text-align: center">{{payment.alarmClock.currentInterval}}/{{payment.alarmClock.maximumIntervals}}</div>
            <div style="width: 80px; text-align: center">{{payment.alarmClock.intervalDuration}}</div>
            <div style="width: 120px; text-align: center">{{payment.alarmClock.startTimestamp * 1000 | date:'short'}}</div>
        </div>
    </small>
    <div style="height: 16px;"></div>
</div>