<div *ngIf="!deployNewWallet" class="borderBottom" fxLayout="column">
    <button mat-button (click)="deployNewWallet = true">new wallet</button>
</div>
<div *ngIf="deployNewWallet" class="borderBottom" style="padding: 0px 16px; margin-top: 16px;" fxLayout="column">
    <mat-form-field [floatLabel]="'always'" appearance="outline">
        <mat-label>New Wallet</mat-label>
        <input matInput [(ngModel)]="newWalletName" placeholder="Enter a wallet name">
        <button style="margin-left: 8px;" mat-icon-button matSuffix [(disabled)]="!newWalletName" (click)="click()">
            <mat-icon>add</mat-icon>
        </button>
    </mat-form-field>
    <div fxLayout="column" fxLayout.gt-sm="row">
        <mat-form-field [floatLabel]="'always'" appearance="outline" fxFlex.gt-sm="45">
            <mat-label>Preload Ether</mat-label>
            <input matInput [(ngModel)]="preloadEther" placeholder="0">
            <mat-icon matSuffix svgIcon="ether" style="font-size: 12px;"></mat-icon>
        </mat-form-field>
        <div fxHide fxShow.gt-sm>&nbsp;</div>
        <mat-form-field [floatLabel]="'always'" appearance="outline" fxFlex.gt-sm="55">
            <mat-label>Custom Gas Price</mat-label>
            <input matInput [(ngModel)]="gasPrice" placeholder="1000000000">
            <mat-icon matSuffix>local_gas_station</mat-icon>
        </mat-form-field>
    </div>
</div>
<div *ngIf="deployNewWallet" class="borderBottom" fxLayout="column">
    <button mat-button (click)="deployNewWallet = false">cancel</button>
</div>
<div class="borderBottom" style="padding: 4px 16px" fxLayout="column">
    <div fxLayout="row">
        <h4 style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; white-space: nowrap; margin-bottom: 0px;" fxFlex>
            Wallet Name #1
        </h4>
    </div>
    <div layout="row" fxLayoutAlign="start center">
        <mat-icon svgIcon="ether"></mat-icon>
        <h3>123.4567</h3>
        <span fxFlex></span>
        <button mat-icon-button>
            <mat-icon>alarm</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>extension</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon svgIcon="qrcode"></mat-icon>
        </button>
    </div>
</div>
<div class="borderBottom" style="padding: 4px 16px" fxLayout="column">
    <div fxLayout="row">
        <h4 style="overflow: hidden; text-overflow: ellipsis; word-wrap: break-word; white-space: nowrap; margin-bottom: 0px;" fxFlex>
            Really Really Long Wallet Name Defying All Logical Possible Names And Things Among Others #2
        </h4>
    </div>
    <div layout="row" fxLayoutAlign="start center">
        <mat-icon matSuffix svgIcon="ether"></mat-icon>
        <h3>123.4567</h3>
        <span fxFlex></span>
        <button mat-icon-button>
            <mat-icon>alarm</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>extension</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon svgIcon="qrcode"></mat-icon>
        </button>
    </div>
</div>