<div fxLayout="row" fxFlexFill>
    <div fxLayout="column" fxFlex="800px">
        <h5 *ngIf="!isScheduled" class="padding" style="margin: 14px 0px;">Transfer Tokens</h5>
        <h5 *ngIf="isScheduled && !isRecurring" class="padding" style="margin: 14px 0px;">Schedule a One-Time Payment</h5>
        <h5 *ngIf="isScheduled && isRecurring" class="padding" style="margin: 14px 0px;">Schedule a Recurring Payment</h5>
        <div class="padding" style="margin-bottom: 8px;" fxLayout="row">
            <form (keydown)="keyPress($event)" fxFlex>
                <mat-form-field class="full-width">
                    <input matInput name="recipient" [(ngModel)]="payment.recipient" placeholder="recipient ethereum address (e.g. 0x9c5738bfeb500ee7283afa81b265f3c4a81790ce)">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput name="amount" [(ngModel)]="payment.amount" placeholder="amount (e.g. 5.09)">
                </mat-form-field>
                <div *ngIf="isScheduled && !isRecurring" fxLayout="row" fxLayoutAlign="start center">
                    <mat-form-field *ngIf="!isRecurring" fxFlex>
                        <input matInput name="startDate" [(ngModel)]="payment.startDate" [min]="minStartDate" [matDatepicker]="paymentDate" placeholder="payment date">
                        <mat-datepicker-toggle matSuffix [for]="paymentDate"></mat-datepicker-toggle>
                        <mat-datepicker #paymentDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div *ngIf="isScheduled && isRecurring" fxLayout="column">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-form-field fxFlex>
                            <input matInput name="startDate" [(ngModel)]="payment.startDate" name="startDate" [min]="minStartDate" [matDatepicker]="startPicker" placeholder="start date">
                            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                            <mat-datepicker #startPicker></mat-datepicker>
                        </mat-form-field>
                        <div style="padding-bottom: 7px;">&nbsp;repeat every&nbsp;</div>
                        <mat-form-field style="max-width: 48px; margin-right: 4px;" class="full-width">
                            <input class="centered" type="number" matInput [(ngModel)]="payment.periodValue" name="periodValue" min="1">
                        </mat-form-field>
                        <mat-form-field style="max-width: 80px;" >
                            <mat-select [(ngModel)]="payment.period" name="paymentPeriod">
                                <mat-option value="minutes">minutes</mat-option>
                                <mat-option value="hours">hours</mat-option>
                                <mat-option value="days">days</mat-option>
                                <mat-option value="weeks">weeks</mat-option>
                                <mat-option value="months">months</mat-option>
                                <mat-option value="years">years</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div style="padding-bottom: 7px;">&nbsp;for&nbsp;</div>
                        <mat-form-field style="max-width: 48px; margin-right: 4px;" class="full-width">
                            <input class="centered" type="number" matInput [(ngModel)]="payment.totalPayments" name="totalPayments" min="2">
                        </mat-form-field>
                        <div style="padding-bottom: 7px;">&nbsp;payments&nbsp;</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-slide-toggle [(ngModel)]="isScheduled" name="schedule-toggle">schedule</mat-slide-toggle>
                    <span fxFlex="5"></span>
                    <mat-slide-toggle *ngIf="isScheduled" [(ngModel)]="isRecurring" name="recurring-toggle">recurring</mat-slide-toggle>
                    <span fxFlex></span>
                    <button *ngIf="!isScheduled" mat-button (click)="transferTokens()" [disabled]="!validTransfer()">transfer</button>
                    <button *ngIf="isScheduled && !isRecurring" mat-button (click)="scheduleOneTimePayment()" [disabled]="!validOneTimePayment()">schedule one-time payment</button>
                    <button *ngIf="isScheduled && isRecurring" mat-button (click)="scheduleRecurringPayment()" [disabled]="!validRecurringPayment()">schedule recurring payment</button>
                </div>
            </form> 
        </div>
        <div class="scrollable" style="border-top: 2px solid rgba(126, 121, 121, 0.33)" fxFlex>
            <small style="padding: 8px 8px 0px 8px;" fxLayout="row" fxLayoutAlign="start center">
                <div style="padding: 12px;" fxLayout="row" fxFlexFill fxFlex>
                    <div fxLayout="row" fxFlex>
                        <b style="width: 60px; text-align: center">ID</b>
                        <b style="width: 60px; text-align: center">Type</b>
                        <b style="width: 120px; text-align: center">Amount</b>
                        <b style="width: 30px; text-align: center"><-></b>
                        <b style="text-align: center" fxFlex>Address/Service</b>
                        <b style="width: 60px; text-align: center">Status</b>
                        <b style="width: 60px; text-align: center">Period</b>
                        <b style="width: 120px; text-align: center">Execution</b>
                    </div>
                </div>
            </small>
            <small *ngFor="let payment of wallet.payments" class="payment-row" fxLayout="row" fxLayoutAlign="start center">
                <div class="cursor" style="padding: 12px;" fxLayout="row" fxFlexFill fxFlex (click)="cancel(payment)">
                    <div style="width: 60px; text-align: center">{{payment.address.slice(2,6)}}</div>
                    <div style="width: 60px; text-align: center">{{payment.type}}</div>
                    <div style="width: 120px; text-align: center">{{web3.utils.fromWei(payment.amount, 'ether') | number:'1.3-6'}} ether</div>
                    <div *ngIf="payment.wallet == wallet.address" fxLayout="row" fxFlex>
                        <div style="width: 30px; text-align: center">to</div>
                        <div style="text-align: center;" fxFlex>
                            <div style="overflow: hidden; text-overflow: ellipsis">{{NameService.getName(payment.recipient)}}</div>
                        </div>
                    </div>
                    <div *ngIf="payment.wallet != wallet.address" fxLayout="row" fxFlex>
                        <div style="width: 30px; text-align: center">from</div>
                        <div style="text-align: center;" fxFlex>
                            <div style="overflow: hidden; text-overflow: ellipsis">{{NameService.getName(payment.wallet)}}</div>
                        </div>
                    </div>
                    <div style="width: 60px; text-align: center">{{payment.currentInterval}}/{{payment.maximumIntervals}}</div>
                    <div style="width: 60px; text-align: center">{{payment.intervalDuration}}</div>
                    <div style="width: 120px; text-align: center">{{payment.execution*1000 | date:'short'}}</div>
                </div>
            </small>
            <div style="height: 16px;"></div>
        </div>
    </div>
</div>
