<div class="scrollable" style="padding: 0px 16px;" fxLayout="column" fxFlex="50">

    <div *ngIf="WalletManager.wallets[currentWallet].alarmClocks.length == 0" class="padding centered">
        No alarms deployed&nbsp;
        <button mat-icon-button (click)="createAlarmClock()">
            <mat-icon>alarm_add</mat-icon>
        </button>
    </div>

    <div *ngIf="WalletManager.wallets[currentWallet].alarmClocks.length > 0">
        <div style="position: relative;">
            <div style="position: absolute; top: 8px; right: 8px;">
                <button mat-icon-button (click)="createAlarmClock()">
                    <mat-icon>alarm_add</mat-icon>
                </button>
            </div>
        </div>
        <h4>Active Alarms</h4>
        <div *ngFor="let alarmClock of WalletManager.wallets[currentWallet].alarmClocks">
            <div *ngIf="AlarmClockManager.alarmClocks[alarmClock]">
                <app-alarm-clock 
                    *ngIf="AlarmClockManager.alarmClocks[alarmClock].alarm.active()" 
                    [(alarmClock)]="AlarmClockManager.alarmClocks[alarmClock]">
                </app-alarm-clock>
            </div>
        </div>
        
        <h4>Failed Alarms</h4>
        <div *ngFor="let alarmClock of WalletManager.wallets[currentWallet].alarmClocks">
            <div *ngIf="AlarmClockManager.alarmClocks[alarmClock]">
                <app-alarm-clock 
                    *ngIf="AlarmClockManager.alarmClocks[alarmClock].alarm.failed()" 
                    [(alarmClock)]="AlarmClockManager.alarmClocks[alarmClock]">
                </app-alarm-clock>
            </div>
        </div>

        <h4>Inactive Alarms</h4>
        <div *ngFor="let alarmClock of WalletManager.wallets[currentWallet].alarmClocks">
            <div *ngIf="AlarmClockManager.alarmClocks[alarmClock]">
                <app-alarm-clock 
                    *ngIf="AlarmClockManager.alarmClocks[alarmClock].alarm.inactive()" 
                    [(alarmClock)]="AlarmClockManager.alarmClocks[alarmClock]">
                </app-alarm-clock>
            </div>
        </div>
        &nbsp;
        &nbsp;
    </div>
</div>
<div class="borderLeft" fxLayout="column" fxFlex="50">
    <app-example-feed fxFlex></app-example-feed>
</div>