:host {
	height: 100%;
}

.border-container {
	border: 1px solid rgba(33,33,33,0.13);
	border-radius: 4px;
	height: 58px;
	margin-top: 4px;
	margin-bottom: 20px;
}

.border-container:hover {
	border: 1px solid rgba(33,33,33,0.93);
}

.border-inner-container {
	height: 100%;
	border: 1px solid rgba(33,33,33,0.0);
	border-radius: 3px;
	padding: 8px 12px;
}

.border-inner-container:hover {
	border: 1px solid rgba(33,33,33,0.93);
}

.check-box {
  display: flex;
  align-content: center;
  align-items: center;
}