<div class="scrollable" style="padding: 0px 16px;" fxLayout="column" fxFlex="50">
    <h4>Transfer</h4>
    <mat-form-field [floatLabel]="'always'" appearance="outline">
        <mat-label>To</mat-label>
        <input matInput type="text" [(ngModel)]="toAddress" name="toAddress" placeholder="Enter an ethereum address">
    </mat-form-field>
    <mat-form-field [floatLabel]="'always'" appearance="outline">
        <mat-label>Ether Amount</mat-label>
        <input matInput type="number" [(ngModel)]="transferAmount" name="transferAmount" placeholder="Enter an ether amount">
    </mat-form-field>
    <div style="min-height: 40px;" fxLayout="row">
        <button mat-button (click)="max()">max</button>
        <span fxFlex="16px"></span>
        <button mat-raised-button color="primary" [disabled]="!valid()" (click)="transfer()" fxFlex>transfer</button>
    </div>
</div>
<div class="scrollable borderLeft" style="padding: 0px 16px;" fxLayout="column" fxFlex="50">
    <div style="position: relative;">
        <button mat-icon-button style="position: absolute; top: 8px; right: 13px;" (click)="addNewContact = !addNewContact;">
            <mat-icon *ngIf="!addNewContact">add</mat-icon>
            <mat-icon *ngIf="addNewContact">close</mat-icon>
        </button>
    </div>
    <h4 style="padding: 0px 16px;">Address Book</h4>
    <div *ngIf="addNewContact" fxLayout="column">
        <mat-form-field [floatLabel]="'always'" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput type="text" [(ngModel)]="newContactAddress" name="newContactAddress" placeholder="Enter an ethereum address">
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'" appearance="outline">
            <mat-label>Description</mat-label>
            <input matInput type="text" [(ngModel)]="newContactName" name="newContactName" placeholder="Enter a description">
        </mat-form-field>
        <div fxLayout="row" style="min-height: 40px">
            <button mat-raised-button  color="primary" [disabled]="!validContact()" (click)="addContact()" fxFlex>add contact</button>
        </div>
    </div>
    
    <div *ngIf="addNewContact" style="height: 16px"></div>

    <div *ngIf="User.contacts.length == 0 && !addNewContact">
        No contacts in address book
    </div>
    <div *ngIf="User.contacts.length > 0">
        <div class="cursor border-container contact" *ngFor="let address of User.contacts">
            <div class="border-inner-container" [ngClass]="{'selected': toAddress == address}" fxLayout="row" fxLayoutAlign="start center">
                <div (click)="toAddress = address" fxLayout="column" fxLayoutAlign="center start" fxFlex>
                    <b>{{User.contact(address)}}</b>
                    <small>{{address}}</small>
                </div>
                <div>
                    <button mat-icon-button (click)="removeContact(address)">
                        <mat-icon>remove</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>