<h2 mat-dialog-title style="margin-bottom: 4px;">
    {{NameService.getName(payment.address)}}
</h2>
<div mat-dialog-content>
    <small style="padding: 0px 0px 16px 0px; color: darkgrey;" fxLayout="row">
        {{payment.address}}
    </small>
    <div style="padding: 8px 0px;" fxLayout="row">
        Created By:
        <span fxFlex>&nbsp;&nbsp;&nbsp;</span>
        {{NameService.getName(payment.factory)}}
    </div>
    <div *ngIf="payment.factory == PaymentScheduler.RecurringAlarmClockFactory.address" style="padding: 8px 0px;" fxLayout="row">
        Task:
        <span fxFlex>&nbsp;&nbsp;&nbsp;</span>
        {{NameService.getName(payment.alarmClock.task)}}
    </div>
    <div style="padding: 8px 0px;" fxLayout="row">
        <div *ngIf="payment.factory == PaymentScheduler.RecurringAlarmClockFactory.address">Trigger:</div>
        <div *ngIf="payment.factory == PaymentScheduler.RecurringPaymentFactory.address">Alarm Clock:</div>
        <span fxFlex>&nbsp;&nbsp;&nbsp;</span>
        <div *ngIf="payment.factory == PaymentScheduler.RecurringPaymentFactory.address">{{NameService.getName(payment.executor)}}</div>
        <a *ngIf="payment.factory == PaymentScheduler.RecurringAlarmClockFactory.address" href="https://app.chronologic.network/transactions/{{payment.executor}}" target="_blank">{{NameService.getName(payment.executor)}}</a>
    </div>
    <div style="padding: 8px 0px;" fxLayout="row">
        Delegate:
        <span fxFlex>&nbsp;&nbsp;&nbsp;</span>
        {{NameService.getName(payment.delegate)}}
    </div>
    <div style="padding: 8px 0px;" fxLayout="row">
        Wallet:
        <span fxFlex>&nbsp;&nbsp;&nbsp;</span>
        {{NameService.getName(payment.wallet)}}
    </div>
    <div *ngIf="payment.factory == PaymentScheduler.RecurringPaymentFactory.address" style="padding: 8px 0px;" fxLayout="row">
        Recipient:
        <span fxFlex>&nbsp;&nbsp;&nbsp;</span>
        {{NameService.getName(payment.recipient)}}
    </div>
    <div style="padding: 8px 0px;" fxLayout="row">
        Amount:
        <span fxFlex>&nbsp;&nbsp;&nbsp;</span>
        {{web3.utils.fromWei(payment.amount, "ether")}} {{payment.token.name}}
    </div>
    <div style="padding: 8px 0px;" fxLayout="row">
        Interval:
        <span fxFlex>&nbsp;&nbsp;&nbsp;</span>
        {{payment.alarmClock.currentInterval}} / {{payment.alarmClock.maximumIntervals}}
    </div>
    <div style="padding: 8px 0px;" fxLayout="row">
        Period:
        <span fxFlex>&nbsp;&nbsp;&nbsp;</span>
        {{payment.alarmClock.intervalDuration}}
    </div>
    <div style="padding: 8px 0px;" fxLayout="row">
        Execution Date and Time:
        <span fxFlex>&nbsp;&nbsp;&nbsp;</span>
        {{payment.alarmClock.startTimestamp * 1000 | date:'short'}}
    </div>
</div>
<div mat-dialog-actions fxLayout="row">
    <button mat-button (click)="closeDialog()">close</button>
    <button mat-button color="primary" (click)="execute()" [disabled]="!executable" fxFlex>execute</button>
    <button mat-button color="warn" (click)="cancel()">cancel</button>
</div>