<div fxLayout="column" fxFlex>
	<div class="scrollable paddingH" style="max-width: 1196px; margin: 0px auto;" fxFlex>
		
		<h2 class="margin padding centered">
			Recurring Transactions on the Ethereum Blockchain
		</h2>

		<ol style="font-weight: bold;">
			<li>Sign in to your <a href="https://metamask.io/" target="_blank">Ethereum Account</a></li>
			<li>Deploy your <a href="https://github.com/everchain-project/delegated-wallet" target="_blank">Everchain Wallet</a></li>
			<li>Create your first Recurring Transaction (RTx)</li>
		</ol>
		
		<mat-divider></mat-divider>

		<h4>Transaction Costs</h4>

		<code class="centered">
			RTx Cost = RTx Gas Used * Current Gas Price * Safety Multiplier
		</code>
		
		<p>
			The <a href="https://support.bancor.network/hc/en-us/articles/360002703591-Why-does-Bancor-set-a-maximum-gas-price-" target="_blank">current gas price</a> is set by the Bancor network. The Bancor Network needs a maximum gas price to prevent front running but an RTx repurposes this value as the best current gas price.
		</p>
		<p>
			The Alarm Cost Safety Multiplier is a temporary measure to ensure in the event of a drastic price drop or spike in gas costs, the alarm will still have enough funds to execute. In the future, a new mechanism can be created that funds alarms <i>at the time of execution</i> and removes the need for an oracle. In addition, the new mechanism will also enable <i>paying in any desired ERC20 token</i> such as Dai.
		</p>

	    <table style="width: 100%; margin: 16px 0px;" border="1" cellpadding="2">
			<tbody>
			<tr>
				<th>1 days</th>
				<th>2-7 days</th>
				<th>8-30 days</th>
				<th>1-3 mo.</th>
				<th>4-12 mo.</th>
				<th>1 year +</th>
			</tr>
			<tr>
				<td>5x</td>
				<td>6x</td>
				<td>7x</td>
				<td>8x</td>
				<td>9x</td>
				<td>10x</td>
			</tr>
			</tbody>
		</table>

		<mat-divider></mat-divider>

		<p>
		     To fork this repo visit the <a href="https://github.com/everchain-project/recurring-alarm-clock" target="_blank">Everchain Alarm Clock</a> github page.
		</p>
	</div>
</div>
<div *ngIf="Web3.netId" class="border-left" fxLayout="column" fxFlex="40">
    <app-rtx-feed fxLayout="column" fxFlex></app-rtx-feed>
</div>