<mat-toolbar color="primary" fxLayout="column">
    <mat-toolbar-row fxFlex="64px">
        <h1 class="cursor" (click)="routeTo('home')">
            <span fxHide.xs>Everchain Alarm Clock Manager</span>
            <span fxHide.gt-xs>ACM</span>
        </h1>

        <span fxFlex></span>

        <small *ngIf="user.isLoggedIn" style="margin-right: 16px;">
            &diams; {{user.balance.ether | number:'1.3-5'}} 
            &nbsp;&nbsp;&nbsp; 
            (${{user.balance.usd | number:'1.2-2'}})
        </small>
        <button *ngIf="!user.isLoggedIn" style="border: 1px solid white;" mat-button (click)="signIn()">Sign in</button>
        <button *ngIf="user.isLoggedIn" style="color: white;" mat-button disabled="true">Logged in</button>
    </mat-toolbar-row>

    <mat-toolbar-row fxFlex="32px">

    </mat-toolbar-row>
    
    <mat-toolbar-row fxFlex="64px">

        <mat-form-field *ngIf="this.user.isLoggedIn && !editWalletName" fxFlex>
            <mat-select [(ngModel)]="currentWallet" name="currentWallet" (ngModelChange)="triggerWalletChange()" placeholder="Select A Delegated Wallet">
                <mat-option *ngFor="let wallet of user.wallets" value="{{user[wallet].address}}" fxLayout="row">
                    &diams; {{user[wallet].balance.ether | number:'1.3-5'}} (${{user[wallet].balance.usd | number:'1.2-2'}}) &nbsp;&nbsp;&nbsp; {{user[wallet].name}}
                </mat-option>
                <mat-option value="new" fxLayout="row">
                    create new wallet
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="editWalletName" fxFlex>
            <mat-label>Enter A New Wallet Name</mat-label>
            <input matInput [(ngModel)]="newWalletName" (ngModelChange)="triggerWalletNameChange(newWalletName)" placeholder="Enter a wallet name">
        </mat-form-field>


        <div *ngIf="currentWallet" fxLayout="row">
            &nbsp;

            <button mat-icon-button (click)="editWalletName = !editWalletName;">
                <mat-icon *ngIf="!editWalletName">edit</mat-icon>
                <mat-icon *ngIf="editWalletName">close</mat-icon>
            </button>

            <button mat-icon-button (click)="createAlarmClock()">
                <mat-icon>alarm_add</mat-icon>
            </button>

            <button mat-icon-button (click)="showQRCode()">
                <mat-icon svgIcon="qrcode"></mat-icon>
            </button>

            &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;

            <button mat-icon-button routerLink="/{{currentRoute}}/transfer" routerLinkActive="selected">
                <mat-icon>send</mat-icon>
            </button>

            <button mat-icon-button routerLink="/{{currentRoute}}/delegates" routerLinkActive="selected">
                <mat-icon>extension</mat-icon>
            </button>

            <button mat-icon-button routerLink="/{{currentRoute}}/alarm-clocks" routerLinkActive="selected">
                <mat-icon>reorder</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
