<mat-toolbar color="primary" fxLayout="column">
    <mat-toolbar-row fxFlex="64px">
        <h1 class="cursor" routerLink="/">Everchain RTx</h1>
        <span fxFlex></span>
        <div *ngIf="Web3.signedIn" style="font-size: 14px;" fxLayout="row">
            <div style="margin-right: 16px;">&diams; {{Web3.account.balance | fromWei:'ether' | number:'1.2-5'}}</div>
            <div style="margin-right: 16px;">(${{Web3.account.balance | toDai | number:'1.2-2'}})</div>
        </div>
        <button *ngIf="Web3.signedIn" style="color: white;" mat-button disabled="true">
            <div *ngIf="Web3.netId == 1">live</div>
            <div *ngIf="Web3.netId == 42">kovan</div>
        </button>
        <button *ngIf="!Web3.signedIn && Web3.netId == 42" 
            mat-button 
            class="signin-button"
            (click)="signIn()">
            sign in
        </button>
        <a *ngIf="!Web3.netId" href="https://metamask.io/" 
            class="signin-button"
            style="max-width: 120px; width: 120px"
            target="_blank" 
            mat-button>
            try metamask
        </a>
    </mat-toolbar-row>

    <mat-toolbar-row fxFlex="32px"></mat-toolbar-row>
    
    <mat-toolbar-row fxFlex="64px">
        <h1 *ngIf="!Web3.signedIn && this.Web3.netId == 42" class="centered" fxFlex>Welcome to Everchain Rtx</h1>
        <h1 *ngIf="!Web3.signedIn && this.Web3.netId != 42 && this.Web3.netId" class="centered" style="color: yellow" fxFlex>Wrong Network! Switch to the Kovan Testnet</h1>
        <h1 *ngIf="!Web3.netId" class="centered" style="color: yellow" fxFlex>Cannot communicate with Ethereum Network!<a style="color: yellow" >Metamask</a>.</h1>
        
        <mat-form-field *ngIf="Web3.signedIn && !editWalletName" fxFlex>
            <mat-select name="currentWallet"
                [(ngModel)]="currentWallet" 
                (ngModelChange)="triggerWalletChange()" 
                placeholder="Select Your Wallet">
                <mat-option *ngFor="let address of Wallets.list;" value="{{address}}">
                    <div *ngIf="Wallets.wallets[address].balance" fxLayout="row">
                        &diams; {{Wallets.wallets[address].balance | fromWei:'ether' | number:'1.3-5'}} (${{Wallets.wallets[address].balance | toDai | number:'1.2-2'}}) 
                        &nbsp;&nbsp;&nbsp; {{Wallets.wallets[address].name}}
                    </div>
                </mat-option>
                <mat-option value="new" fxLayout="row">
                    create new wallet
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="editWalletName" fxFlex>
            <mat-label>Enter A New Wallet Name</mat-label>
            <input matInput [(ngModel)]="newWalletName" (ngModelChange)="triggerWalletNameChange(newWalletName)" placeholder="Enter a wallet name">
        </mat-form-field>

        <div *ngIf="Web3.signedIn && currentWallet" fxLayout="row">
            &nbsp;

            <button mat-icon-button (click)="editWalletName = !editWalletName;">
                <mat-icon *ngIf="!editWalletName">edit</mat-icon>
                <mat-icon *ngIf="editWalletName">close</mat-icon>
            </button>

            <button mat-icon-button (click)="showQRCode()">
                <mat-icon svgIcon="qrcode"></mat-icon>
            </button>

            <button mat-icon-button (click)="RTx.create()">
                <mat-icon>alarm_add</mat-icon>
            </button>

            &nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;
            
            <button mat-icon-button [ngClass]="{'selected': currentView == 'transfer'}" routerLink="/{{currentRoute}}/transfer">
                <mat-icon>send</mat-icon>
            </button>

            <button mat-icon-button [ngClass]="{'selected': currentView == 'delegates'}" routerLink="/{{currentRoute}}/delegates">
                <mat-icon>extension</mat-icon>
            </button>

            <button mat-icon-button [ngClass]="{'selected': !currentView}" routerLink="/{{currentRoute}}">
                <mat-icon>reorder</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
