<div class="border-container" *ngIf="Web3" style="margin-top: 8px" fxLayout="column">
    <div class="border-inner-container">
        <div class="cursor" (click)="showDetails = !showDetails; showAdvancedOptions = false;">
            <div fxLayout="row">
                <div fxLayout="column" fxLayoutAlign="start center">
                    <div *ngIf="alarmClock.alarm.active()">
                        <button mat-icon-button>
                            <mat-icon *ngIf="!showDetails">alarm_on</mat-icon>
                            <mat-icon *ngIf="showDetails">close</mat-icon>
                        </button>
                    </div>
                    <div *ngIf="alarmClock.alarm.failed()">
                        <button mat-icon-button>
                            <mat-icon *ngIf="!showDetails">alarm_off</mat-icon>
                            <mat-icon *ngIf="showDetails">close</mat-icon>
                        </button>
                    </div>
                </div>
                <div fxLayout="column" style="padding: 8px 8px 0px 8px;" fxFlex>
                    <div fxLayout="row">
                        <div style="padding-top: 2px;">{{alarmClock.timestamp*1000 | date:'MMM dd, yyyy @ hh:mm a'}}</div>
                        <span fxFlex></span>
                        <mat-icon style="height: 18px; width: 18px;" svgIcon="ether"></mat-icon>
                        <h4 class="no-margin">
                            {{alarmClock.cost.next.ether}} (${{alarmClock.cost.next.usd | number:'1.2-2'}}) every {{alarmClock.interval.value}} {{alarmClock.interval.unit}}
                        </h4>
                    </div>
                    <div fxLayout="row">
                        <small style="color: gray;" *ngIf="!showAdvancedOptions" fxFlex>ID {{alarmClock.instance._address.slice(0,6)}}...</small>
                        <small style="color: gray;" *ngIf="showAdvancedOptions" fxFlex>ID {{alarmClock.instance._address}}</small>
                        <small style="color: gray;" *ngIf="Web3.now.timestamp < alarmClock.timestamp">currently {{alarmClock.alarm.percentFunded}}% funded</small>
                    </div>
                </div>
            </div>
            <div fxLayout="row" style="padding: 8px;">
                <div style="text-align: right; margin-top: 8px;" fxFlex>
                    <span style="float: left; padding-right: 8px;">
                        ({{alarmClock.interval.current}}/{{alarmClock.interval.max}})
                    </span>
                    <b>{{alarmClock.label}}</b>
                </div>
            </div>
        </div>
        <div *ngIf="showDetails" fxLayout="column">
            <div fxLayout="row">
                <button mat-button *ngIf="Web3.now.timestamp < alarmClock.alarm.endClaimWindow" (click)="cancel()" [disabled]="Web3.now.timestamp > alarmClock.alarm.endClaimWindow">
                    cancel
                </button>

                <button mat-button *ngIf="Web3.now.timestamp < alarmClock.alarm.endExecutionWindow" (click)="execute()" [disabled]="Web3.now.timestamp > alarmClock.alarm.endExecutionWindow">
                    execute
                </button>
                
                <button mat-button *ngIf="!Web3.now.timestamp < alarmClock.timestamp || showAdvancedOptions" (click)="setAlarmClock()">
                    set
                </button>
                
                <span fxFlex></span>

                <button mat-button *ngIf="showAdvancedOptions" color="warn" (click)="destroy()">
                    destroy
                </button>

                <button mat-button (click)="showAdvancedOptions = !showAdvancedOptions">
                    <span *ngIf="!showAdvancedOptions">show advanced</span>
                    <span *ngIf="showAdvancedOptions">hide advanced</span>
                </button>

                <button mat-button *ngIf="Web3.now.timestamp < alarmClock.timestamp" (click)="editLabel = true; showAdvancedOptions = false;">
                    edit label
                </button>
            </div>
            <div *ngIf="showAdvancedOptions && (alarmClock.alarm.active() || alarmClock.alarm.failed())" style="padding: 8px;" fxLayout="column">
                <div *ngIf="alarmClock.alarm.active() || alarmClock.alarm.failed()" class="smallText">
                    <h5>Alarm Status</h5>
                    <div>alarm address: <span fxFlex></span> {{alarmClock.alarm.instance._address}}</div>
                    <div>claimed by: <span fxFlex></span> {{alarmClock.alarm.data[0][0]}}</div>
                    <div>created by: <span fxFlex></span> {{alarmClock.alarm.data[0][1]}}</div>
                    <div>owner: <span fxFlex></span> {{alarmClock.alarm.data[0][2]}}</div>
                    <div>fee recipient: <span fxFlex></span> {{alarmClock.alarm.data[0][3]}}</div>
                    <div>alarm caller: <span fxFlex></span> {{alarmClock.alarm.data[0][4]}}</div>
                    <div>to address: <span fxFlex></span> {{alarmClock.alarm.data[0][5]}}</div>
                    <div>is cancelled: <span fxFlex></span> {{alarmClock.alarm.data[1][0]}}</div>
                    <div>was called: <span fxFlex></span> {{alarmClock.alarm.data[1][1]}}</div>
                    <div>was successful: <span fxFlex></span> {{alarmClock.alarm.data[1][2]}}</div>
                    <div>claim deposit: <span fxFlex></span> {{alarmClock.alarm.data[2][0]}}</div>
                    <div>fee: <span fxFlex></span> {{alarmClock.alarm.data[2][1]}}</div>
                    <div>fee owed: <span fxFlex></span> {{alarmClock.alarm.data[2][2]}}</div>
                    <div>bounty: <span fxFlex></span> {{alarmClock.alarm.data[2][3]}}</div>
                    <div>bounty owed: <span fxFlex></span> {{alarmClock.alarm.data[2][4]}}</div>
                    <div>claim window size: <span fxFlex></span> {{alarmClock.alarm.data[2][5]}}</div>
                    <div>freeze period: <span fxFlex></span> {{alarmClock.alarm.data[2][6]}}</div>
                    <div>reserved window size: <span fxFlex></span> {{alarmClock.alarm.data[2][7]}}</div>
                    <div>temporal unit: <span fxFlex></span> {{alarmClock.alarm.data[2][8]}}</div>
                    <div>window size: <span fxFlex></span> {{alarmClock.alarm.data[2][9]}}</div>
                    <div>window start: <span fxFlex></span> {{alarmClock.alarm.data[2][10]}}</div>
                    <div>extra call gas: <span fxFlex></span> {{alarmClock.callGas}}</div>
                    <div>total call gas: <span fxFlex></span> {{alarmClock.alarm.data[2][11]}}</div>
                    <div>call value: <span fxFlex></span> {{alarmClock.alarm.data[2][12]}}</div>
                    <div>minimum gas price: <span fxFlex></span> {{alarmClock.alarm.data[2][13]}}</div>
                    <div>required deposit: <span fxFlex></span> {{alarmClock.alarm.data[2][14]}}</div>
                    <div>payment modifier: <span fxFlex></span> {{alarmClock.alarm.data[3]}}</div>
                </div>
            </div>
            <div *ngIf="editLabel" fxLayout="row">
                <mat-form-field fxFlex>
                    <input type="text" matInput [(ngModel)]="newLabel" name="newLabel" (ngModelChange)="changeLabel(alarmClock.instance._address,newLabel)">
                </mat-form-field>
                <button mat-icon-button (click)="editLabel = false;">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
    </div>  
</div>
