<div class="outer-border-container marginH" fxLayout="column">
    <div class="inner-border-container" style="font-size: small;">
        <div *ngIf="!rtx.ready" class="cursor" style="padding: 8px;">
            &nbsp;
            <br>
            &nbsp;
        </div>
        <div *ngIf="rtx.ready" class="cursor" style="padding: 8px;" fxLayout="row" (click)="showDetails = !showDetails">
            <div fxLayout="column" fxFlex="156px">
                <b>{{rtx.formattedDate}}</b>
                <div style="color: rgba(0,0,0,0.5); padding-top: 4px;" fxLayoutAlign="start center">
                    <span>{{rtx.interval.current}}/{{rtx.interval.max}}</span>
                    <mat-icon style="height: 16px; width: 16px; font-size: 16px; padding: 0px 4px;">cached</mat-icon>
                    <span>{{rtx.interval.value}} {{RTx.getUnitText(rtx.interval.unit)}}</span>
                </div>
            </div>
            <div fxLayout="column" fxFlex>
                {{rtx.label()}}
            </div>
            <div fxLayout="column" fxFlex="96px">
                <b style="text-align: right;">{{rtx.status()}}</b>
                <div *ngIf="rtx.alarm" style="color: rgba(0,0,0,0.5); text-align: right; padding-top: 4px;">
                    ${{rtx.alarm.balance | toDai | number:'1.2-2'}}/${{rtx.cost | toDai | number:'1.2-2'}}
                </div>
            </div>
        </div>
        <div *ngIf="showDetails" class="" style="padding: 8px; padding-top: 0px;">
            <div style="padding: 8px 0px; max-height: 52px;" fxLayoutAlign="start center">
                <div style="color: rgba(0,0,0,0.5);" fxFlex="148px">
                    <div>ID: &nbsp;{{rtx.address.slice(0,6)}}</div>
                </div>
                <span *ngIf="!editLabel" fxFlex>
                    <button mat-button style="font-size: small; min-width: 0px; padding: 0px 4px;" (click)="editLabel = !editLabel">
                        edit label
                    </button>
                    <span fxFlex="16px"></span>
                    <button mat-button style="font-size: small; min-width: 0px; padding: 0px 4px;" (click)="rtx.alarm.cancel()">
                        cancel
                    </button>
                    <span fxFlex></span>
                    <span fxFlex="16px"></span>
                    <button mat-button style="font-size: small; min-width: 0px; padding: 0px 4px; color: red;" (click)="rtx.destroy()">
                        destroy
                    </button>
                    <span fxFlex="16px"></span>
                    <button mat-button style="font-size: small; min-width: 0px; padding: 0px 4px;" (click)="rtx.reset()">
                        reset
                    </button>
                </span>
                <div *ngIf="editLabel" fxLayout="row" fxFlex>
                    <button mat-button style="font-size: small; min-width: 0px; padding: 0px 4px;" (click)="editLabel = !editLabel">
                        done
                    </button>
                    <span fxFlex="16px"></span>
                    <mat-form-field *ngIf="editLabel" fxFlex>
                        <mat-label>Enter A New Label</mat-label>
                        <input matInput [(ngModel)]="newLabel" (ngModelChange)="rtx.changeLabel(newLabel)" placeholder="Enter a new label">
                    </mat-form-field>
                </div>
            </div>
            <div style="padding-top: 8px;">
                Contract Address:
                <span fxFlex></span>
                <a href="https://kovan.etherscan.io/address/{{rtx.address}}" target="_blank">{{rtx.address}}</a>
            </div>
            <div style="padding-top: 8px;">
                Alarm Address: 
                <span fxFlex></span>
                <span *ngIf="!rtx.alarm">No scheduled alarm</span>
                <span *ngIf="rtx.alarm">
                    <a href="https://app.chronologic.network/transactions/{{rtx.alarm.address}}" target="_blank">{{rtx.alarm.address}}</a>
                </span>
            </div>
            <div *ngIf="rtx.alarm" style="padding-top: 8px;">
                <div>
                    Alarm Balance:
                    <span fxFlex></span>
                    &diams;{{rtx.alarm.balance | fromWei:'ether' | number:'1.2-5'}} (${{rtx.alarm.balance | toDai | number:'1.2-2'}})
                </div>
            </div>
            <div *ngIf="rtx.alarm" style="padding-top: 8px;">
                Target Execution:
                <span fxFlex></span>
                {{rtx.startDate}}
            </div>
            <div *ngIf="rtx.alarm" style="padding-top: 8px;">
                Alarm Expires:
                <span fxFlex></span>
                {{rtx.alarm.expireDate}}
            </div>
            <div style="padding-top: 8px;">
                Call Address:
                <span fxFlex></span>
                <a href="https://kovan.etherscan.io/address//{{rtx.call.address}}" target="_blank">{{rtx.call.address}}</a>
            </div>
            <div style="padding-top: 8px;">
                Call Value:
                <span fxFlex></span>
                {{rtx.call.value}} wei
            </div>
            <div style="padding-top: 8px;">
                Call Gas:
                <span fxFlex></span>
                {{rtx.call.gas}}
            </div>
            <div style="padding-top: 8px;">
                <span style="color: black">
                    Call Data: 
                    <span fxFlex></span>
                    <div class="cursor" (click)="showData = !showData">
                        <span *ngIf="!showData">[ show ]</span>
                        <span *ngIf="showData">[ hide ]</span>
                    </div>
                </span> 
                <div *ngIf="showData" style="padding-top: 8px; word-wrap: break-word; color: rgba(0,0,0,0.5);">
                    {{rtx.call.data}}
                </div>
            </div>
            <div style="padding-top: 8px;">
                <b>Event History</b>
                <span fxFlex></span>
                <div class="cursor" (click)="showEvents = !showEvents">
                    <span *ngIf="!showEvents">[ show ]</span>
                    <span *ngIf="showEvents">[ hide ]</span>
                </div>
            </div>
            <div *ngIf="showEvents">
                <div style="padding-top: 8px;" *ngFor="let event of rtx.events | orderBy:'-timestamp'">
                    {{event.event.split('_')[0]}} Event <span fxFlex></span> {{event.timestamp*1000 | date:'full'}}
                </div>
            </div>
        </div>
    </div>
</div>
