:host {
    min-width: 268px;
    border-right: 2px solid rgba(33,33,33,0.33);
}

::-webkit-scrollbar {
    max-width: 2px !important;  /* shrink scrollbar space */
    min-width: 2px !important;  /* shrink scrollbar space */
    width: 2px !important;  /* shrink scrollbar space */
    background-color: transparent;  /* optional: just make scrollbar invisible */
    border-left: 1px solid rgba(255,255,255,0.15);
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.33);
}

#sidebar {
    padding: 0px 8px;
}

.pad-right-8px {
    padding-right: 8px;
}

#sidebar .sidebar-button {
    border-radius: 32px;
}

#sidebar .sidebar-button:hover {
    background-color: rgba(33,33,33,0.2);
}

#sidebar .active-button {
    border-radius: 32px;
    background-color: rgba(33,33,33,0.1);
}
