<div id="sidebar" *ngIf="initialized" fxFlexFill fxLayout="column">
    <h4 class="cursor" routerLink="/account">Recurring Payment Scheduler</h4>
    <small *ngIf="account.loggedIn" class="sidebar-button" style="margin-right: 8px;" fxLayout="row" fxLayoutAlign="start center" (click)="copyToClipboard(account.address)">
        <div class="cursor" style="padding: 12px; color: gray;" fxFlex>
            Logged in as: {{account.addressPrefix}}...{{account.addressSuffix}}
        </div>
        <button mat-icon-button>
            <mat-icon style="font-size: 16px; color: gray;">file_copy</mat-icon>
        </button>
    </small>
    <small *ngIf="!account.loggedIn" class="sidebar-button" style="margin-right: 8px;" fxLayout="row" fxLayoutAlign="start center">
        <div style="padding: 12px; color: gray;" fxFlex>
            Not logged in.
        </div>
        <button mat-icon-button>
            <mat-icon style="font-size: 16px; color: gray;">feedback</mat-icon>
        </button>
    </small>
    <h5 class="pad-right-8px" style="margin-bottom: 8px;" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex>Wallets</div>
        <button mat-icon-button [disabled]="!account.loggedIn" (click)="createWallet()">
            <mat-icon style="font-size: 16px;">add</mat-icon>
        </button>
    </h5>
    <div class="scrollable pad-right-8px" fxFlex>
        <small *ngFor="let wallet of account.wallets" class="sidebar-button" fxLayout="row" fxLayoutAlign="start center">
            <div class="cursor" style="padding: 12px;" routerLink="/account/wallet/{{wallet}}" routerLinkActive="active-button" fxFlexFill fxFlex>
                {{getWalletName(wallet)}}
            </div>
            <button mat-icon-button (click)="copyToClipboard(wallet)">
                <mat-icon style="font-size: 16px;">file_copy</mat-icon>
            </button>
        </small>
    </div>
</div>