<div id="sidebar" *ngIf="initialized" fxLayout="column" fxFlexFill>
    <h4 class="cursor" style="padding: 0px 8px;" routerLink="/">Recurring Payment Scheduler</h4>
    <small *ngIf="account.isLoggedIn" class="sidebar-button" fxLayout="row" fxLayoutAlign="start center" (click)="copyToClipboard(account.address)">
        <div class="cursor" style="padding: 12px; color: gray;" fxFlex>
            Logged in as: {{account.addressPrefix}}...{{account.addressSuffix}}
        </div>
        <button mat-icon-button>
            <mat-icon style="font-size: 16px; color: gray;">file_copy</mat-icon>
        </button>
    </small>
    <small *ngIf="!account.isLoggedIn" class="sidebar-button" fxLayout="row" fxLayoutAlign="start center">
        <div style="padding: 12px; color: gray;" fxFlex>
            Not logged in.
        </div>
        <button mat-icon-button>
            <mat-icon style="font-size: 16px; color: gray;">feedback</mat-icon>
        </button>
    </small>
    <h5 style="padding-left: 8px; margin-bottom: 12px" fxLayout="row" fxLayoutAlign="start center">
        <div fxFlex>Wallets</div>
        <button mat-icon-button (click)="createWallet()" [disabled]="!account.isLoggedIn">
            <mat-icon style="font-size: 16px;">add</mat-icon>
        </button>
    </h5>
    <div class="scrollable" fxFlex>
        <small *ngFor="let wallet of account.wallets" class="sidebar-button" fxLayout="row" fxLayoutAlign="start center">
            <div class="cursor" style="padding: 12px;" routerLink="/account/{{account.address}}/wallet/{{web3.utils.toChecksumAddress(wallet)}}" routerLinkActive="active-button" fxFlexFill fxFlex>
                {{getWalletName(wallet)}}
            </div>
            <button mat-icon-button (click)="copyToClipboard(wallet)">
                <mat-icon style="font-size: 16px;">file_copy</mat-icon>
            </button>
        </small>
        <div style="height: 16px;"></div>
    </div>
</div>