#tokens {
    min-width: 268px;
    border-right: 2px solid rgba(33,33,33,0.33);
}

.token-button {
    border-radius: 32px;
    padding: 12px;
}

.token-button:hover {
    background-color: rgba(33,33,33,0.2);
}

.active-token {
    border-radius: 32px;
    background-color: rgba(33,33,33,0.1);
}