<div fxLayout="column" fxFlex="60">
    <div *ngIf="Payments.for[this.Wallets.current]" class="scrollable" fxFlex>
    	<div *ngIf="Payments.for[this.Wallets.current].length == 0" class="padding centered" fxLayout="row" fxLayoutAlign="center center">
            <div>No Recurring Transactions&nbsp;&nbsp;</div>
            <button mat-icon-button (click)="Rtx.create()">
                <mat-icon>alarm_add</mat-icon>
            </button>
        </div>

    	<div *ngIf="Payments.for[this.Wallets.current].length > 0" fxLayout="column">
            <div *ngFor="let payment of Payments.for[this.Wallets.current] | orderBy:'date'">
                <app-rtx *ngIf="payment.status() == 'active'" style="margin-top: 16px;" [(rtx)]="payment"></app-rtx>
            </div>
            <div fxFlex="16px"></div>
            <div *ngFor="let payment of Payments.for[this.Wallets.current] | orderBy:'date'">
                <app-rtx *ngIf="payment.status() != 'active'" style="margin-top: 16px;" [(rtx)]="payment"></app-rtx>
            </div>
        </div>
    </div>
</div>
<div class="border-left" fxLayout="column" fxFlex="40">
    <app-rtx-feed fxLayout="column" fxFlex></app-rtx-feed>
</div>