<span fxLayout="column" fxFlex>
    <h4 style="padding: 0px 16px">Example Task Event Feed</h4>
    <div fxLayout="row" style="padding: 4px 16px">
        <b fxFlex="130px">Timestamp</b>
        <b fxFlex="90px">Caller ID</b>
        <b fxFlex>Message</b>
        <b fxFlex="100px" style="text-align: right;">Value</b>
    </div>
    <div class="scrollable" *ngIf="AlarmClock.exampleEvents.length > 0" style="padding: 0px 16px" fxFlex>
        <div *ngFor="let event of AlarmClock.exampleEvents.slice().reverse()">
            <div fxLayout="row" style="padding: 4px 0px;">
                <div fxFlex="130px">{{event.timestamp*1000 | date:'MM/dd hh:mm a' | lowercase}}</div>
                <div fxFlex="90px">{{event.returnValues.caller.slice(0,6)}}</div>
                <div fxFlex>{{event.returnValues.message}}</div>
                <div fxFlex="100px" style="text-align: right;">{{event.returnValues.msgValue}} wei</div>
            </div>
        </div>
    </div>
</span>